<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | Assembly House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript">
        (function() {
            var path = '//easy.myfonts.net/v1/js?sid=182491(font-family=Aaux+Next+Light)&sid=182513(font-family=Aaux+Next+Black)&sid=182523(font-family=Aaux+Next+Regular)&sid=182526(font-family=Aaux+Next+Semi+Bold)&key=qFmwhG59sQ',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
            trial.type = 'text/javascript';
            trial.async = true;
            trial.src = protocol + path;
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(trial);
        })();
    </script>
    <link rel="stylesheet" href="/css/main.css">
</head>