<div class="navbar navbar-default" role="navigation">
  <div class="logo logo-large pull-left"></div>
  <div class="container">
    <div class="navbar-logo">
      <span class="logo logo-small"></span>
    </div>
    <div class="navbar-header navbar-brand">
      <a class="brand" href="/">
        ASSEMBLY HOUSE
      </a>
    </div>
    <div class="navbar-menu text-center">
      <ul class="nav navbar-nav">
      {% assign url = page.url|remove:'index.html' %}
      {% for link in site.data.nav %}
      <li {% if url == link.url %}class="active"{% endif %}>
          <a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>