<div class="navbar navbar-default" role="navigation">
  <div class="logo logo-large pull-left"></div>
  <div class="container">
    <div class="navbar-logo">
      <span class="logo logo-small"></span>
    </div>
    <div class="navbar-header navbar-brand">
      <a class="brand" href="/">
        ASSEMBLY HOUSE
      </a>
    </div>
    <div class="navbar-menu text-center">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">ABOUT US</a></li>
        <li><a href="/books/">BOOKS</a></li>
        <li><a href="/consulting/">CONSULTING</a></li>
      </ul>
    </div>
  </div>
</div>