<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | Assembly House</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script type="text/javascript">
            (function() {
                var path = '//easy.myfonts.net/v1/js?sid=182491(font-family=Aaux+Next+Light)&sid=182513(font-family=Aaux+Next+Black)&sid=182523(font-family=Aaux+Next+Regular)&sid=182526(font-family=Aaux+Next+Semi+Bold)&key=qFmwhG59sQ',
                    protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                    trial = document.createElement('script');
                trial.type = 'text/javascript';
                trial.async = true;
                trial.src = protocol + path;
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(trial);
            })();
        </script>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
      
      <div id="wrap">
      <div class="navbar navbar-default" role="navigation">
        <div class="logo logo-large pull-left"></div>
        <div class="container">
          <div class="navbar-logo">
            <span class="logo logo-small"></span>
          </div>
          <div class="navbar-header navbar-brand">
            <a class="brand" href="/">
              ASSEMBLY HOUSE
            </a>
          </div>
          <div class="navbar-menu text-center">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">ABOUT US</a></li>
              <li><a href="/consulting">CONSULTING</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container site">
        
        <div class="row">
          <div class="span12">
          {{ content }}
          </div>
        </div>
      </div>
      </div>
      <div id="footer">
        <span class="email"><a href="mailto:info@assemblyhouse.ca">info@assemblyhouse.ca</a></span>
        <span class="address">1252 Speers Rd. Units 1 &amp; 2&nbsp;&nbsp;Oakville, Ontario, L6L 5N9, Canada</span>
      </div>
    </body>
</html>
